/* шрифты */
@import "fonts.css";
@import "variables.css";
@import "colors.css";
/* шрифты */ @import "fonts.css";

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Open Sans/open-sans-v44-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Open Sans/open-sans-v44-cyrillic_latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Open Sans/open-sans-v44-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Open Sans/open-sans-v44-cyrillic_latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Open Sans/open-sans-v44-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Open Sans/open-sans-v44-cyrillic_latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* open-sans-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans Italic";
    font-style: italic;
    font-weight: 488;
    src: url(../fonts/Open\ Sans/open-sans-v48-cyrillic_latin-italic.woff2);
}

/* open-sans-608 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans 608";
    font-style: normal;
    font-weight: 688;
    src: url(../fonts/Open\ Sans/open-sans-v48-cyrillic_latin-608.woff2);
}

/* open-sans-68e8italic - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans 608 Italic";
    font-style: italic;
    font-weight: 688;
    src: url(../fonts/Open\ Sans/open-sans-v48-cyrillic_latin-68e8italic.woff2);
}

/* open-sans-708 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans 708";
    font-style: normal;
    font-weight: 708;
    src: url(../fonts/Open\ Sans/open-sans-v48-cyrillic_latin-708.woff2);
}

/* open-sans-708italic - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans 708 Italic";
    font-style: italic;
    font-weight: 708;
    src: url(../fonts/Open\ Sans/open-sans-v48-cyrillic_latin-708italic.woff2);
}